:root {
    background-color: white;
    font-size: 16px;
    --dark: black;
    --light: #e3e8ec;
    --primary: #5d666b;
    --secondary: #a7a7a7;
}

header {
    margin-bottom: 2rem;
}

.start-button {
   width: 20%;
   height: 20%;
   position: absolute;
   left: 44%;
   top: 40%
}

.choice-container {
    display: flex;
    margin-bottom: 1rem;
    width: 80%;
    font-size: 1rem;
    color: var(--light);
    cursor: pointer;
    border: solid 1px var(--dark);
    border-radius: 4px;
    background-color: var(--dark);
    margin-left: 1rem;
}

.choice-text {
    padding: 1rem;
    color: var(--light);
    width: 100%;
}

.choice-container:hover {
    background-color: var(--primary);
    box-shadow: 0 0 5px #999;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

#question {
    margin-left: 1rem;
}

.wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

#game {
    display: none;
}

.game-info {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 1rem;
}

.bg-info {
    background-color: var(--dark);
    color: var(--light);
    border: solid 1px var(--dark);
    outline: none;
    font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 1rem;
    border-radius: 4px;
    padding: 1rem;
    width: 4rem;
    text-align: center;
}

.hud-label {
    text-align: center;
    margin-bottom: 0.5rem;
}

.exit-page {
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    padding-bottom: 5rem;
}

.exit-hud {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#final-score {
    background-color: white;
    color: var(--dark);
    border: solid 1px var(--dark);
    outline: none;
    font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 2rem;
    border-radius: 4px;
    padding: 2rem 0;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
}

.final-score-label {
    font-size: 1.5rem;
}

.highscore-form {
    width: 100%;
    margin-bottom: 1.5rem;
}

#highscore-form-content {
    display: flex;
    flex-direction: column;
}

#save-score-btn {
    margin-top: 1rem;
}

#username {
    color: var(--dark);
    cursor: text;
    border: solid 1px var(--dark);
    outline: none;
    font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 1rem;
    border-radius: 4px;
    padding: 1rem;
    width: 10rem;
    text-decoration: none;
    text-align: center;
}

/* color classes*/
.background-black {
    background-color: black;
}

.background-green {
    background-color: green;
}

.background-red {
    background-color: indianred;
}
