:root {
    background-color: white;
    font-size: 16px;
    --dark: black;
    --light: #e3e8ec;
    --primary: #5d666b;
    --secondary: #a7a7a7;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-weight: lighter;

}

h1,
h2 {
    margin-bottom: 1rem;
}

body {
    background-color: var(--light);
    margin: 0;
  }
  
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    height: 5rem;
    width: 100%;
  }
  
  header h1 {
    font-weight: lighter;
  }
  
  header h1 a {
    font-size: 2rem;
    text-decoration: none;
    color: var(--light);
  }
  
  header h1 a:hover {
      color: var(--primary);
  }

  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#final-highscores {
    align-self: center;
}

#highscores {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

#highscores-list {
    margin-bottom: 2rem;

}

#highscores-list li {
    list-style: none;
    background-color: white;
    color: var(--dark);
    border: solid 1px var(--dark);
    outline: none;
    font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 1rem;
    border-radius: 4px;
    width: 100%;
    padding: 1rem 0;
    text-decoration: none;
    text-align: center;
    margin-bottom: 0.5rem;
}



/* Buttons */

.btn {
    background-color: var(--dark);
    color: var(--light);
    cursor: pointer;
    border: solid 1px var(--dark);
    outline: none;
    font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 1rem;
    border-radius: 4px;
    padding: 1rem;
    width: 10rem;
    text-decoration: none;
    text-align: center;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: var(--primary);
    box-shadow: 0 0 5px #999;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}